:root {
    --mainBlue: #093160;
    --white: #ffffff;
    --mainGreen: #59ffb0;
    --textBody: #212121;
    --lightBlue: #9dadbf;
    --lightGray: #e1e6ec;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: var(--mainBlue);
}

button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    color: var(--mainBlue);
    outline: none;
    font-family: inherit;
}

input[type="number"] {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #e6eaef;
    box-sizing: border-box;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    width: 5rem;
    font-family: inherit;
    font-size: 1rem;
    color: var(--mainBlue);
    font-weight: 500;
    height: 3rem;
}

p {
    margin: 0;
}


/* Components */


/* Dropdown */

.dropdown-container {
    position: relative;
}

.dropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    border: 1px solid #e6eaef;
    box-sizing: border-box;
    border-radius: 0.25rem;
    width: 100%;
    visibility: 1;
    transition: all 500ms ease-in-out 100ms;
    height: auto;
    z-index: 999;
}

.dropdown-radio {
    display: none;
}

.dropdown-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #e6eaef;
    box-sizing: border-box;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    min-width: 10rem;
    font-family: inherit;
    font-size: 1rem;
    height: 3rem;
    color: var(--mainBlue);
    font-weight: 500;
}

.dropdown-option {
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    transition: background-color 100ms ease-in;
}

.dropdown-option:hover {
    background-color: var(--lightGray);
}

.dropdown-arrow {
    background-image: url(./dropdown-arrow.svg);
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    transition: all 150ms ease-in-out;
}


/* Dropdown  End */


/* Slider */

.slider-group {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.slider-input {
    justify-content: center;
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5rem;
    background: var(--lightGray);
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 1rem;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    border: 1px solid #e1e6ec;
    box-shadow: 2px 7px 24px rgba(9, 49, 96, 0.12);
}

.slider::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
    background: #ffffff;
    cursor: pointer;
}

input[type="range"]::-webkit-range-progress {
    background: red;
}

input[type="range"]::-moz-range-progress {
    background: red;
}


/* Containers */

.container {
    display: grid;
    grid-template-columns: auto minmax(16rem, 40rem) auto;
    column-gap: 1rem;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
}

.chatbox-container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 2.5rem;
}

.user-chat {
    animation: 1000ms ease-out 0s 1 slideInFromBottom;
    display: grid;
    grid-auto-flow: row;
    row-gap: 1rem;
}

.bot-chat {
    animation: 1000ms ease-out 0ms 1 slideInFromBottom;
}

.bubble {
    background: #ffffff;
    box-shadow: 2px 7px 24px rgba(9, 49, 96, 0.12);
    border-radius: 0.8rem;
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    align-items: center;
    padding: 1rem 2rem;
    min-height: 5rem;
    box-sizing: border-box;
    color: var(--mainBlue);
}

.bubble.user-type {
    justify-content: center;
}

.bubble.transfer-source {
    justify-content: center;
}


/* Avatars */

.avatar {
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    background-color: var(--mainBlue);
}

.avatar.user {
    justify-self: end;
}

.avatar.bot {
    align-self: flex-end;
}


/* Pricing Table */

.pricing-table {
    display: flex;
    flex-direction: row;
    background: linear-gradient( 180deg, rgba(244, 244, 244, 0) 50.51%, #f4f4f4 50.52%);
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    box-shadow: 2px 7px 24px rgba(9, 49, 96, 0.12);
    border-radius: 0.8rem;
    margin-right: 2rem;
}

.pricing-container.competitor {
    background-color: #ffffff;
}

.pricing-container.move-bot {
    background-color: var(--mainBlue);
}

.price {
    font-weight: 600;
    font-size: 48px;
    margin: 1rem 0 1rem 0;
    color: var(--mainBlue)
}

.pricing-container.move-bot .price {
    color: var(--mainGreen);
}

.estimated {
    font-size: 0.75rem;
    text-align: center;
    color: var(--lightBlue);
    margin-bottom: 0.5rem;
}

.time-estimate {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.pricing-container.move-bot .time-estimate {
    color: #ffffff;
}

.competitor-name {
    font-weight: 600;
    font-size: 1rem;
    color: var(--textBody);
}

button.get-quote {
    padding: 0.75rem 1rem;
    background-color: var(--mainGreen);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 100ms ease-in;
}

button.get-quote:hover {
    background-color: #4FE79E;
}


/* Bubble Types */


/* General Classes */

.hidden {
    display: none;
    visibility: 0;
}

.rotate {
    transform: rotate(-180deg) translate(2px, 2px);
}


/* Media Queries */

@media (max-width: 700px) {
    .container {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: none;
        row-gap: 1rem;
        padding: 1rem;
    }
    .bubble {
        grid-auto-flow: row;
        justify-items: center;
        row-gap: 0.5rem;
    }
    .pricing-table {
        flex-direction: column;
    }
    .pricing-container {
        width: 40%;
        margin-bottom: 1rem;
        margin-right: 0;
    }
    .avatar.user {
        justify-self: start;
    }
    .avatar.bot {
        justify-self: end;
    }
}


/* Animations */

@keyframes slideInFromBottom {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}